buttons {
    &.primary {color:#f4f4f4;
    background-color:#0e6cff;}
    &.warning{color: #f4f4f4;
background-color: #ff8700;}
    &.success{color: #f4f4f4;
background-color: #4caf50;}
}




.hero {color: #f4f4f4;
background-color: #640fc5;}

