$font-sizes-map:
(xs: 8px,
  sm: 12px,
  normal: 16px,
  lg: 26px,
  xl: 32px,
  xxl: 48px,)

  @mixin title-big{}
  
  body {
    font:{
        size: 1.5em ;
        weight: bold;
        family: 'Courier New', Courier, monospace;
    }
}

